*__pycache__/
keys_config.yaml
raw_wiki_data/
raw_imdb_data/
enwiki_dbow/
vectors_data/
similar_list_data/
.ipynb_checkpoints/
error_saving_path/
*.ipynb
vectors_cache/
all_movie_ids_to_query.json
tests/testing_raw_wiki_data/tt0019254.json
tests/testing_raw_wiki_data/tt10550884.json
tests/testing_raw_wiki_data/tt9352780.json

db/
.idea/

all_movie_ids_to_query-Copy1.json
last_page_visited.json
tests/testing_similar_list_data/
tests/end_to_end/
