<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS file -->
    <link rel="stylesheet" href="/static/css/custom.css?v={{version_number}}">
    <link rel="stylesheet" href="/static/css/checkbox_css.css?v={{version_number}}">


    <title>FindMeMoreLike_HomePage</title> <!--# todo rename-->
</head>
<body>
<nav class="navbar bg-custom container shadowed">
    <div class="d-flex flex-fill">
        <a href="/"><h1 id="main_title" class="navbar-brand navbar-text boxed">Find Alike</h1></a>
    </div>

    <!--<div class="d-flex flex-fill justify-content-center">-->
        <!--<form class="form-inline" method="GET" action="/search">-->
            <!--<div class="inner-form">-->
                <!--<div class="input-field search_text_section">-->
                    <!--<input id="provider-json" type="text" placeholder="Enter title here ... "/>-->
                    <!--<input id="data-holder" name="imdbid" type="hidden">-->
                <!--</div>-->
                <!--<div class="input-field search_btn_section">-->
                    <!--<input class="btn-search" type="submit" value="Search">-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->

    <div class="d-flex flex-fill flex-row-reverse">
        {% if current_user.is_authenticated %}
        <center>
            <p class="login-titles">
                <img src="{{current_user.profile_pic}}" width="25" height="25" alt="Google profile pic">
                        Hello, {{ current_user.name }}!
                <br>
                    <a class="button" href="/logout">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </button>
                    </a>
            </p>
        </center>
        {% else %}
            <button class="btn">
                <a class="button login-titles navbar-text" href="/login">

                    <img src="/static/imgs/google_sign_in/btn_google_signin_light_normal_web.png" alt="Google sign in">
                </a>
            </button>
        {% endif %}
    </div>

</nav>
<!--<div class="bg_image"></div>-->