<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css?v={{version_number}}">

    <!-- CSS file -->
    <link rel="stylesheet" href="/static/css/easy-autocomplete.min.css">

    <!-- Additional CSS Themes file - not required-->
    <link rel="stylesheet" href="/static/css/easy-autocomplete.themes.min.css">

    <title>FindMeMoreLike_HomePage</title> <!--# todo rename-->
</head>
<body>
<nav class="navbar bg-transparent">
    <a href="/"><h1 id="main_title" class="navbar-brand">Find more like</h1></a>
    <div class="login-container"> <!-- todo: maybe use https://bootsnipp.com/snippets/DV3m4 -->
        <form action="">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="psw">
            <button type="submit">Login</button>
        </form>
  </div>
    <!--<form class="form-inline" method="GET" action="/search">-->
        <!--<input id="provider-json" name="movie-name" class="form-control mr-sm-2" type="text" placeholder="Enter title here ..."> &lt;!&ndash; &ndash;&gt;-->
        <!--<input id="data-holder" name="imdbid" type="hidden">-->
        <!--<input class="btn btn-search" type="submit" value="Search">-->
    <!--</form>-->

</nav>
<!--<div class="bg_image"></div>-->