{% include 'include/header.html' %}

<div class="main_search">
    <form method="GET" action="/search">
        <h2 id="main_title" class="titles"> Find similar movies and TV-shows:</h2>
        <div class="inner-form">
            <div class="input-field search_text_section">
                <input id="provider-json" type="text" placeholder="Enter title here ... "/>
                <input id="data-holder" name="imdbid" type="hidden">
            </div>
            <div class="input-field search_btn_section">
                <input class="btn-search" type="submit" value="Search">
            </div>
        </div>
        <center>
            <div class="checkbox">
                {% if current_user.is_authenticated %}
                    <label class="btn btn-custom">
                        <input type="checkbox" name="hide-seen-titles">
                {% else %}
                    <label class="btn btn-custom" data-toggle="tooltip" data-placement="bottom" title="Login to use this">
                        <input type="checkbox" name="hide-seen-titles" disabled>
                {% endif %}
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Hide already seen titles
                </label>
            </div>
        </center>
    </form>
</div>



{% include 'include/footer.html' %}
