{% include 'include/header.html' %}

<div class="main_search">
    <form method="GET" action="/search">
        <h2 id="main_title" class="titles"> Find similar movies and TV-shows:</h2>
        <div class="inner-form">
            <div class="input-field search_text_section">
                <input id="provider-json" type="text" placeholder="Enter title here ... "/>
                <input id="data-holder" name="imdbid" type="hidden">
            </div>
            <div class="input-field search_btn_section">
                <input class="btn-search" type="submit" value="Search">
            </div>
        </div>
        <center>
            <div class="checkbox">
                {% if current_user.is_authenticated %}
                    <label class="btn btn-custom">
                        <input type="checkbox" name="hide-seen-titles">
                {% else %}
                    <label class="btn btn-custom" data-toggle="tooltip" data-placement="bottom" title="Login to use this">
                        <input type="checkbox" name="hide-seen-titles" disabled>
                {% endif %}
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Hide already seen titles
                </label>
            </div>
            <br>
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#myModal">
              <strong>Can't found a title? Are we missing a title ? Let us know !</strong>
            </button>
        </center>
    </form>
</div>



<!-- The Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Missing Title ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Can't find a title ?<br>Let us know and we will update it as soon as possible.</p>
                  <p>Please add a link to the title's IMDb page:</p>
                 <input type="text" class="form-control" placeholder="link to the title's IMDb page" id="imdb_link">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary save-missing">Save changes</button>
            </div>

            <div class="alert alert-success" id="success-alert" style="display:none"> Saved successfully</div>
            <!-- todo: add a warning if input is bad-->
            <div class="alert alert-danger" id="danger-alert" style="display:none">Something went wrong. Try again later</div>

    </div>
  </div>
</div>


{% include 'include/footer.html' %}
