{% include 'include/header.html' %}

<div class="main_search">
    <form method="GET" action="/search">
        <h2 id="main_title" class="titles"> Find similar movies and TV-shows:</h2>
        <div class="inner-form">
            <div class="input-field search_text_section">
                <input id="provider-json" type="text" name="movie-name" placeholder="Enter title here ... "/>
                <input id="data-holder" name="imdbid" type="hidden">
            </div>
            <div class="input-field search_btn_section">
                <input class="btn-search" type="submit" value="Search">
            </div>
        </div>
        <center>
            <div class="checkbox">
                <label class="btn btn-warning">
                    <input type="checkbox" name="hide-seen-titles">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    Hide titles you have already seen
                </label>
            </div>
        </center>
    </form>
</div>

{% include 'include/footer.html' %}