body {
    background-image: linear-gradient(180deg, #B3B3B0, #E3E2DD);
    background-attachment: fixed;
    margin-bottom:50px;
    /* font-family: "Bookman Old Style"*/
}

/* a { color: #D69A19; } */
.boxed {
      background-color: #F5C518;
      border-radius: 10px;
}

.titles {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 1.5;
}

#main_title {
    font-weight: bold;
    font-size:60px;
    color: black;
    /*text-shadow: 3px 2px 5px black; */

}

#secondary_title {
    font-size:40px;
   /* text-shadow: 3px 2px 5px black;*/
}

.bg-custom { background-color: #2b2b2b; }

.shadowed { box-shadow: 0px 0px 25px -3px black;}

.bg_image {
    position: absolute;
    background: url("/static/imgs/film-background-13340679666UC.jpg") top center;
    opacity: 0.25;
    z-index:-1;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    /*background-attachment: scroll;  transform: scaleY(-1); # flips todo: take a look */


}

.centered-container {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 25px;
}

.main_search {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 100px;
}

/* todo: do we need this ? and why */
.main_search form {
  width: 100%;
  max-width: 800px;
  margin-bottom: 0;

}

.main_search form .inner-form {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 0px 10px -3px black;

}

.main_search form .inner-form .input-field {
  height: 50px;
  border: 1px solid #2b2b2b
}

.main_search form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #555555;
}

.main_search form .inner-form .input-field.search_text_section {
  -ms-flex-positive: 1;
      flex-grow: 1;
}


.main_search form .inner-form .input-field.search_btn_section {
  width: 100px;
}


.main_search form .inner-form .input-field.search_btn_section .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  color: #000;
  border: 0;
  cursor: pointer;
  background: #F5C518;
  transition: all .2s ease-out, color .2s ease-out;
}


.main_search form .inner-form .input-field.search_btn_section .btn-search svg {
  width: 20px;
}

.main_search form .inner-form .input-field.search_btn_section .btn-search:hover {
  background: #ffd745;
}


.main_search form .inner-form .input-field.search_btn_section .btn-search:focus {
  background: #ffd745;
}

.poster_img {
    border-radius: 15%;
    max-width: 100%;
    height: auto;
}

.widget .panel-body { padding:0px; }
/*.widget .list-group { margin-bottom: 0; }*/
/* .widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;} todo: maybe us it*/
.widget li.list-group-item:hover { background-color: #F7F6E5; }
.widget .mic-info { color: #666666;font-size: 12px; } /*todo: change this size*/
.widget .comment-text { font-size: 14px; } /*todo: change this size*/
.widget .title { font-size: 16px; }

.prev_next_btns { background-color: #D69A19; }


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: #333;
  text-align: center;
  z-index:-1;
}

footer a { color: #333; }